.btn {
  display: block;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(116, 102, 81, 0.35);
  background-color: #dcb476;
  color: #32363c;
  transition: .2s;
  cursor: pointer;
  outline: none;
  &:hover {
    background: darken(#dcb476, 5%);
    transition: .2s;
  }
  &:active {
    transform: scale(0.98);
  }
}