
.wrapper-popup {
  z-index: 10;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, .7)
}

.popup,
.wrapper-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center
}

.popup {
  top: 50%;
  left: 50%;
  z-index: 11;
  margin: -286px 0 0 -504px;
  max-width: 1008px;
  height: 572px;
  max-height: 90vh;
  box-shadow: 0 5px 13px rgba(74, 74, 74, 0.12);
  background-color: #fff;
  @include respond-to(lg) {
    max-width: 90%;
  }
  @include respond-to(md) {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 93%;
  }
  @include respond-to(sm) {
    width: 90%;
    max-width: 400px;
    height: 433px;
    overflow: auto;
  }
  &--order {
    @include respond-to(sm) {
      height: 390px;
    }
  }
  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    @include respond-to(sm) {
      top: 10px;
      right: 10px;
      width: 18px;
      height: 18px;
    }
    span {
      position: absolute;
      left: 0;
      display: block;
      width: 22px;
      height: 3px;
      background-color: #b7b7b7;
      transition: .2s;
      @include respond-to(sm) {
        width: 18px;
      }
      &:first-of-type {
        transform: rotate(45deg);
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      span {
        opacity: 0.7;
      }
    }
    &:active {
      transform: scale(.98);
    }
  }
  .order-form {
    bottom: 0;
    max-width: 100%;
    height: 572px;
    min-height: inherit;
    padding: 20px;
    background-color: transparent;
    @include respond-to(md) {
      padding: 20px 20px 20px 40px;
    }
    @include respond-to(sm) {
      height: 390px;
      padding: 10px;
      bottom: auto;
    }
    &__content {
      @include flex;
      max-width: 788px;
      margin: 0 auto;
      @include respond-to(md) {
        display: block;
        max-width: 655px;
        margin: 60px auto 0;
        padding: 0;
        form {
          padding-right: 20px;
        }
      }
      @include respond-to(sm) {
        max-width: 248px;
        margin: 0 auto;
        form {
          padding-right: 0;
        }
      }
    }
    &__text {
      display: block;
      max-width: 305px;
      padding-left: 0;
      text-align: left;
      @include respond-to(md) {
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
      }
      @include respond-to(sm) {
        margin-right: 0;
        max-width: 100%;
      }
      .title {
        width: auto;
        margin-bottom: 40px;
        @include respond-to(sm) {
          margin: 20px 0 15px;
        }
      }
      .text {
        max-width: 100%;
        color: #373a3f;
        font-size: 22px;
        font-weight: 400;
        line-height: 36.34px;
        @include respond-to(sm) {
          font-size: 15px;
          line-height: 20.14px;
        }
        &::after {
          margin-top: 49px;
          @include respond-to(sm) {
            margin-top: 15px;
          }
        }
      }
    }

  }
  input,
  textarea {
    max-width: 363px;
    padding-left: 20px;
    text-align: left;
    @include respond-to(sm) {
      max-width: 100%;
    }
  }
  textarea {
    padding-top: 15px;
    resize: none;
    line-height: normal;
    @include respond-to(sm) {
     min-height: 90px;
    }
    @include placeholder {
      line-height: normal;
    }
  }
  input[type="submit"] {
    text-align: center;
    padding: 0;
  }

  &--thanks {
    max-width: 487px;
    height: 462px;
    margin: -231px 0 0 -243px;
    padding-top: 60px;
    @include respond-to(md) {
      margin: auto;
    }
    @include respond-to(sm) {
      top: 30px;
      bottom: auto;
      max-width: 288px;
      height: 270px;
    }
    .popup-content {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .title {
        margin-bottom: 46px;
        color: #363a3e;
        font-family: $FontSylfaen;
        font-size: 48px;
        font-weight: 400;
        line-height: 49.16px;
        @include respond-to(sm) {
          margin-bottom: 15px;
          font-size: 22px;
          line-height: 23.49px;
        }
      }
      .text {
        max-width: 80%;
        opacity: 0.79;
        color: #373a3f;
        font-size: 22px;
        font-weight: 400;
        line-height: 36.34px;
        @include respond-to(sm) {
          max-width: 95%;
          margin: 0 auto;
          font-size: 15px;
          line-height: 20.14px;
        }
        &::after {
          content: '';
          display: block;
          width: 79px;
          height: 3px;
          margin: 46px auto 53px;
          background-color: #3e3e3e;
          opacity: 0.76;
          @include respond-to(sm) {
            width: 39px;
            margin: 15px auto;
          }
        }
      }
      .btn-close {
        width: 239px;
        min-height: 70px;
        box-shadow: 0 6px 12px rgba(116, 102, 81, 0.35);
        color: #43464a;
        font-size: 22px;
        font-family: $FontAvenir;
        font-weight: 400;
        line-height: 68px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        background-color: #dcb476;
        @include respond-to(sm) {
          width: 194px;
          min-height: 47px;
          font-size: 15px;
          line-height: 45px;
        }
        &:hover {
          background: darken(#dcb476, 5%);
          transition: .2s;
        }
        &:active {
          transform: scale(0.98);
          transition: .2s;
        }
      }
    }
  }
  &--policy {
    max-width: 1100px;
    height: 736px;
    margin: -368px 0 0 -550px;
    max-height: 90vh;
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: auto;
    @include respond-to(lg) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 90%;
      height: 550px;
      overflow: auto;
      padding: 50px 40px;
      margin: auto;
    }
    @include respond-to(md) {
      max-width: 93%;
      top: 20px;
      bottom: auto;
      margin: auto;
      padding: 50px 40px;
    }
    @include respond-to(sm) {
      width: 90%;
      max-width: 400px;
      height: 350px;
      overflow: auto;
      padding: 40px 15px 30px;
      .morelink {
        display: block!important;
        margin-top: 15px;
        color: #373a3f;
        font-family: $FontAvenir;
        font-size: 12px;
        font-weight: 600;
        line-height: 9.75px;
        span {
          display: inline-block!important;
          padding-bottom: 5px;
          border-bottom: 2px solid #3a3a3a;
        }
      }
    }

    .popup-content {
      max-width: 1040px;
      margin: 0 auto;
      @include respond-to(sm) {
        max-width: 100%;
      }
      .title {
        color: #363a3e;
        font-family: $FontSylfaen;
        font-size: 48px;
        font-weight: 400;
        line-height: 49.16px;
        @include respond-to(sm) {
          font-size: 22px;
          line-height: 26px;
        }
        &::after {
          content: '';
          display: block;
          width: 79px;
          height: 3px;
          margin: 29px auto 41px;
          background-color: #3e3e3e;
          opacity: 0.76;
          @include respond-to(sm) {
            width: 32px;
            margin: 14px auto 19px;
          }
        }
      }
      .text {
        opacity: 0.79;
        color: #373a3f;
        font-family: $FontAvenir;
        font-size: 18px;
        font-weight: 400;
        line-height: 36.34px;
        @include respond-to(sm) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}

