
.wrapper-popup {
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7)
}

.popup,
.wrapper-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center
}

.popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  margin: auto;
  max-width: 1008px;
  height: 572px;
  box-shadow: 0 5px 13px rgba(74, 74, 74, 0.12);
  background-color: #fff;
  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    span {
      position: absolute;
      left: 0;
      display: block;
      width: 22px;
      height: 3px;
      background-color: #b7b7b7;
      transition: .2s;
      &:first-of-type {
        transform: rotate(45deg);
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      span {
        opacity: 0.7;
      }
    }
    &:active {
      transform: scale(.98);
    }
  }
  .order-form {
    bottom: 0;
    max-width: 100%;
    height: 572px;
    min-height: inherit;
    padding: 20px;
    background-color: transparent;
    &__content {
      @include flex;
      max-width: 788px;
      margin: 0 auto;
    }
    &__text {
      display: block;
      max-width: 305px;
      padding-left: 0;
      text-align: left;
      .title {
        width: auto;
        margin-bottom: 40px;
      }
      .text {
        max-width: 100%;
        color: #373a3f;
        font-size: 22px;
        font-weight: 400;
        line-height: 36.34px;
        &::after {
          margin-top: 49px;
        }
      }
    }

  }
  input,
  textarea {
    max-width: 363px;
    padding-left: 20px;
    text-align: left;
  }
  textarea {
    padding-top: 15px;
    resize: none;
    line-height: normal;
    @include placeholder {
      line-height: normal;
    }
  }
  input[type="submit"] {
    text-align: center;
    padding: 0;
  }

  &--thanks {
    max-width: 487px;
    height: 462px;
    padding-top: 60px;
    .popup-content {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .title {
        margin-bottom: 46px;
        color: #363a3e;
        font-family: $FontSylfaen;
        font-size: 48px;
        font-weight: 400;
        line-height: 49.16px;
      }
      .text {
        opacity: 0.79;
        color: #373a3f;
        font-size: 22px;
        font-weight: 400;
        line-height: 36.34px;
        &::after {
          content: '';
          display: block;
          width: 79px;
          height: 3px;
          margin: 46px auto 53px;
          background-color: #3e3e3e;
          opacity: 0.76;
        }
      }
      .btn-close {
        width: 239px;
        min-height: 70px;
        box-shadow: 0 6px 12px rgba(116, 102, 81, 0.35);
        color: #43464a;
        font-size: 22px;
        font-family: $FontAvenir;
        font-weight: 400;
        line-height: 68px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        background-color: #dcb476;
        &:hover {
          background: darken(#dcb476, 5%);
          transition: .2s;
        }
        &:active {
          transform: scale(0.98);
          transition: .2s;
        }
      }
    }
  }
  &--policy {
    max-width: 1191px;
    height: 736px;
    padding-top: 80px;
    .popup-content {
      max-width: 1040px;
      margin: 0 auto;
      .title {
        color: #363a3e;
        font-family: $FontSylfaen;
        font-size: 48px;
        font-weight: 400;
        line-height: 49.16px;
        &::after {
          content: '';
          display: block;
          width: 79px;
          height: 3px;
          margin: 29px auto 41px;
          background-color: #3e3e3e;
          opacity: 0.76;
        }
      }
      .text {
        opacity: 0.79;
        color: #373a3f;
        font-family: $FontAvenir;
        font-size: 18px;
        font-weight: 400;
        line-height: 36.34px;
      }
    }
  }
}

