.about {
  padding: 80px 0 0;
  @include respond-to(sm) {
    padding-top: 30px;
  }
  fieldset {
    width: 100%;
    max-width: 768px;
    min-height: 305px;
    padding: 0 20px 0 40px;
    border: 2px solid #a78c6e;
    background: url(/img/icons/quotes.png) 8px 35px no-repeat;
    @include respond-to(sm) {
      padding: 0 10px 0;
      min-height: 222px;
      background:none;
    }
  }
  legend {
    position: relative;
    top: -20px;
    padding: 0 7px;
    color: #363a3e;
    font-family: $FontSylfaen;
    font-size: 45px;
    font-weight: 400;
    line-height: 46px;
    @include respond-to(sm) {
      top: -8px;
      font-size: 22px;
      line-height: 20px;
    }
  }
  &-text {
    &__description {
      margin: 28px 0 0 35px;
      opacity: 0.72;
      color: #373a3f;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
      @include respond-to(sm) {
        margin: 4px 0 0 7px;
        font-size: 15px;
        line-height: 19px;
      }
      &::after {
        content: '';
        display: block;
        width: 72px;
        height: 2px;
        margin: 30px 0 0;
        background-color: #2e3339;
        @include respond-to(sm) {
          width: 30px;
          margin-top: 16px;
        }
      }
    }
  }
  &-video {
    position: relative;
    top: -40px;
    left: 76px;
    z-index: 2;
    max-width: 1088px;
    height: 465px;
    box-shadow: 3px 5px 13px rgba(1, 1, 1, 0.41);
    transition: .2s;
    @include respond-to(lg) {
      left: 70px;
      max-width: 830px;
    }
    @include respond-to(md) {
      top: -60px;
      left: 0;
      right: 0;
      max-width: 95%;
      height: 297px;
      margin: auto;
    }
    @include respond-to(sm) {
      top: 0;
      left: 0;
      right: 0;
      max-width: 90%;
      height: 152px;
      margin: -84px auto 45px;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, 0.2);
    }
    &__description {
      position: absolute;
      top: 37%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: inline-block;
      max-width: 100%;
      height: 30px;
      margin: auto;
      text-align: center;
      opacity: 0.72;
      color: #ffffff;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      @include respond-to(sm) {
        top: 60%;
        font-size: 15px;
        line-height: 14.3px;
        text-align: center;
      }
    }
    &.active {
      &::before,
      &::after,
      .about-video__description {
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transition: .3s;
      }
    }
  }
}
.youtube {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  margin: auto;
  .play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 74px;
    height: 76px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    opacity: 0.76;
    cursor: pointer;
    transition: .2s;
    outline: none;
    @include respond-to(sm) {
      display: block;
      width: 33px;
      height: 34px;
      text-align: center;
    }
    &::after {
      content: '';
      display: inline-block;
      margin-left: 20px;
      border: 14px solid transparent;
      border-left: 20px solid #fff;
      transition: .2s;
      @include respond-to(sm) {
        margin: 7px 0 0 11px;
        border: 8px solid transparent;
        border-left: 11px solid #fff;
      }
    }
    &:hover {
      border-color: #caa265;
      &::after {
        border-left-color: #caa265;
      }
    }
    &:active {
      transform: scale(0.98);
    }
  }
}
