.advantages {
  padding: 50px 0 0;
  @include respond-to(sm) {
    max-width: 400px;
    padding: 175px 0 30px;
    margin: 0 auto;
  }
  &-title {
    color: #363a3e;
    font-family: $FontSylfaen;
    font-size: 45px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    @include respond-to(sm) {
      font-size: 22px;
      line-height: 27.9px;
    }
  }
  &-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 110px 0 0;
    @include respond-to(lg) {
      justify-content: center;
    }
    @include respond-to(md) {
      display: block;
      text-align: center;
    }
    @include respond-to(sm) {
      margin: 0 auto;
      padding-bottom: 7px;
      .slick-next,
      .slick-prev {
        top: 58%;
        width: 20px;
        height: 48px;
        z-index: 3;
        &::before {
          background: url(../img/icons/arrow-gold.png) center no-repeat;
          background-size: contain;
        }
      }
      .slick-prev {
        left: -3%;
      }
      .slick-next {
        right: -3.5%;
        top: 60.5%;
      }
    }
  }
  &-item {
    position: relative;
    width: 100%;
    max-width: 282px;
    padding: 0 12px;
    box-sizing: border-box;
    @include respond-to(lg) {
      max-width: 315px;
      margin-bottom: 150px;
      &:last-of-type,
      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }
    @include respond-to(md) {
      display: inline-block;
      vertical-align: top;
      max-width: 315px;
      margin-bottom: 150px;
      text-align: left;
      &:last-of-type,
      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }
    @include respond-to(sm) {
      max-width: 100%;
      min-height: 327px;
      padding: 62px 15px 0;
      margin: auto;
    }
    &__wrapper {
      position: relative;
      max-width: 270px;
      min-height: 447px;
      border: 2px solid #a78c6e;
      border-top: 0;
      @include respond-to(md) {
        margin: 0 auto;
      }
      @include respond-to(sm) {
        width: calc(100% - 30px);
        max-width: 300px;
        min-height: 313px;
        margin: auto;
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 0;
        display: inline-block;
        width: 15px;
        height: 2px;
        background-color: #a78c6e;
        @include respond-to(sm) {
          width: 20px;
        }
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
      .text {
        position: relative;
        top: -61px;
        max-width: 212px;
        margin: 0 auto;
        opacity: 0.85;
        color: #373a3f;
        font-family: $FontAvenir;
        font-size: 19px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        @include respond-to(sm) {
          max-width: 190px;
          top: -48px;
          font-size: 15px;
          line-height: 18.16px;
        }
        span {
          font-family: $FontAvenirDemi;
          font-weight: 500;
        }
      }
    }
    &__number {
      position: relative;
      top: -40px;
      padding: 0 77px;
      opacity: 0.24;
      color: #dbb574;
      font-family: $FontSylfaen;
      font-size: 150px;
      font-weight: 400;
      line-height: 50px;
      text-align: center;
      @include respond-to(sm) {
        top: -30px;
        font-size: 90px;
        line-height: 39.48px;
      }
    }
    img {
      position: absolute;
      bottom: 32px;
      left: 0;
      pointer-events: none;
      user-select: none;
      @include respond-to(md) {
        left: auto;
        right: auto;
        text-align: center;
        margin: 0 0 0 3px;
      }
      @include respond-to(sm) {
        top: 45%;
        bottom: auto;
        left: 0;
        right: 0;
        width: 87%;
        max-width: 310px;
        max-height: 300px;
        margin: auto;
      }
    }
  }
}