.wrapper-clients {
  position: relative;

  background-color: #ece9e5;
  @include respond-to(lg) {
    min-height: inherit;
  }
  @include respond-to(md) {
    min-height: inherit;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    display: block;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    opacity: 0.2;
    background: url(/img/clients/clients-bg.png) center no-repeat;
    background-size: cover;
  }
}

.clients {
  padding: 40px 10px 20px;
  @include respond-to(sm) {
    padding: 22px 0 0;
  }
  &-title {
    font-family: $FontSylfaen;
    font-size: 45px;
    line-height: 46px;
    color: #363a3e;
    text-align: center;
    @include respond-to(sm) {
      font-size: 22px;
      line-height: 21.71px;
    }
  }
  &-description {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    color: #363a3e;
    text-align: center;
    @include respond-to(sm) {
      margin: 0 -8px;
      font-size: 15px;
      line-height: 22px;
    }
    &::after {
      content: '';
      display: block;
      width: 71px;
      height: 2px;
      margin: 15px auto;
      background-color: #3e3e3e;
      opacity: 0.76;
      @include respond-to(sm) {
        width: 37px;
        margin: 10px auto 25px;
      }
    }
  }
  &-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @include respond-to(sm) {
      margin-top: 20px;
    }
    &__row {
      @include flex;
      flex-wrap: wrap;
      @include respond-to(md) {
        display: block;
        &:first-of-type {
          .clients-item:last-of-type {
            img {
              max-width: 50%;
            }
          }
        }
      }
    }
  }
  &-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 152px;
    @include respond-to(lg) {
      width: 100%;
      max-width: 25%;
      min-height: 100px;
      img {
        max-width: 70%;
      }
    }
    @include respond-to(md) {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 24%;
      margin-bottom: 40px;
      min-height: inherit;
      text-align: center;
      img {
        max-width: 70%;
      }
    }
    @include respond-to(sm) {
      max-width: 49%;
      img {
        max-width: 87%;
      }
    }
  }
}