.contacts {
  @include flex;
  max-width: 1094px;
  min-height: 671px;
  margin: 74px 0 59px;
  padding: 15px 0 15px 70px;
  border: 2px solid #a78c6e;
  @include respond-to(lg) {
    padding: 50px 20px 50px 30px;
  }
  @include respond-to(md) {
    position: relative;
    display: block;
    margin: 100px 0 20px;
    padding: 16px 16px 30px;
    min-height: inherit;
  }
  @include respond-to(sm) {
    margin: 60px 0 20px;
  }
  &-text {
    max-width: 50%;
    @include respond-to(md) {
      margin-top: 570px;
      max-width: 77%;
      margin-left: 75px;
    }
    @include respond-to(sm) {
      max-width: 255px;
      margin: 240px auto 0;
    }
    &__description {
      margin-bottom: 50px;
      opacity: 0.64;
      color: #363a3e;
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      @include respond-to(lg) {
        font-size: 19px;
        line-height: 23px;
      }
      @include respond-to(sm) {
        margin: 5px 0 15px;
        font-size: 14px;
        line-height: 19px;
      }
    }
    &__title {
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 45px;
      font-weight: 400;
      line-height: 47px;
      @include respond-to(lg) {
        font-size: 35px;
        line-height: 40px;
      }
      @include respond-to(sm) {
        font-size: 22px;
        line-height: 23.49px;
      }
      &::after {
        content: '';
        display: block;
        width: 71px;
        height: 2px;
        margin: 38px 0 0;
        background-color: #3e3e3e;
        opacity: 0.76;
        @include respond-to(sm) {
          width: 39px;
          margin-top: 14px;
        }
      }
    }
    &__phone {
      display: block;
      margin-top: 50px;
      color: #363a3e;
      font-family: $FontAvenirDemi;
      font-size: 45px;
      font-weight: 400;
      line-height: 46px;
      @include respond-to(lg) {
        font-size: 35px;
      }
      @include respond-to(sm) {
        margin-top: 23px;
        font-size: 22px;
        line-height: 22.99px;
      }
      &:hover {
        color: #caa265;
      }
    }
    &__btn {
      width: 100%;
      max-width: 288px;
      min-height: 62px;
      margin-top: 40px;
      color: #43464a;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 60px;
      @include respond-to(sm) {
        &.btn {
          display: none;
        }
      }
    }
    &__social {
      @include flex;
      max-width: 285px;
      margin-top: 50px;
      @include respond-to(md) {
       max-width: 275px;
      }
      @include respond-to(sm) {
        max-width: 190px;
        margin-top: 17px;
      }
      .fb, .insta, .skype, .vk, .ytube{
        background: url(../img/social/sprites-social.png) no-repeat;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        transition: .2s;
        &.vk {
          background-position: 2% 45%;
          width: 42px;
          height: 24px;
        }
        &.insta {
          background-position: 29% 50%;
          width: 29px;
          height: 28px;
        }
        &.fb {
          background-position: 49% 43%;
          width: 13px;
          height: 27px;
        }
        &.ytube {
          background-position: 72.1% 45%;
          width: 25px;
          height: 29px;
        }
        &.skype {
          background-position: 97.1% 46%;
          width: 31px;
          height: 31px;
        }
        @include respond-to(md) {
          //display: inline-block;
          //vertical-align: middle;
          //width: 18%!important;
          //text-align: center;
          //background-size: cover!important;
        }
        @include respond-to(sm) {
          background-size: 150px!important;
          .fb, .insta, .skype, .vk, .ytube{
            background: url(../img/social/sprites-social.png) no-repeat;
          }
          &.vk {
            width: 25px;
            height: 18px;
            background-position: 2% 45%;
          }
          &.insta {
            background-position: 27% 50%;
          }
          &.fb {
            background-position: 49% 50%;
          }
          &.ytube {
            background-position: 72% 50%;
          }
          &.skype {
            background-position: 102% 60%;
          }
        }
        &:hover {
          opacity: 0.7;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  &-image {
    margin-right: -70px;

    img {
      vertical-align: middle;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.16);
    }
    @include respond-to(lg) {
      margin-right: -45px;
      img {
        max-width: 100%;
      }
    }
    @include respond-to(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 0 50px 0;
      text-align: center;
      img {
        max-width: 100%;
        margin-top: -40px;
      }
    }
    @include respond-to(sm) {
      margin: 0 auto;
      img {
        max-width: calc(100% - 30px);
        max-height: 290px;
      }
    }
  }
}