.contacts {
  @include flex;
  max-width: 1094px;
  min-height: 671px;
  margin: 74px 0 59px;
  padding: 15px 0 15px 70px;
  border: 2px solid #a78c6e;
  @include respond-to(lg) {
    padding: 50px 20px 50px 30px;
  }
  @include respond-to(md) {
    position: relative;
    display: block;
    margin: 100px 0 20px;
    padding: 16px 16px 30px;
    min-height: inherit;
  }
  &-text {
    max-width: 50%;
    @include respond-to(md) {
      margin-top: 570px;
      max-width: 77%;
      margin-left: 75px;
    }
    @include respond-to(sm) {
      max-width: 100%;
      margin: 250px 0 0;
    }
    &__description {
      margin-bottom: 50px;
      opacity: 0.64;
      color: #363a3e;
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      @include respond-to(lg) {
        font-size: 19px;
        line-height: 23px;
      }
      @include respond-to(sm) {
        margin: 15px 0;
        font-size: 14px;
        line-height: 19px;
      }
    }
    &__title {
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 45px;
      font-weight: 400;
      line-height: 47px;
      @include respond-to(lg) {
        font-size: 35px;
        line-height: 40px;
      }
      @include respond-to(sm) {
        font-size: 22px;
        line-height: 23.49px;
      }
      &::after {
        content: '';
        display: block;
        width: 71px;
        height: 2px;
        margin: 38px 0 0;
        background-color: #3e3e3e;
        opacity: 0.76;
        @include respond-to(sm) {
          width: 39px;
          margin-top: 14px;
        }
      }
    }
    &__phone {
      display: block;
      margin-top: 50px;
      color: #363a3e;
      font-family: $FontAvenirDemi;
      font-size: 45px;
      font-weight: 400;
      line-height: 46px;
      @include respond-to(lg) {
        font-size: 35px;
      }
      @include respond-to(sm) {
        margin-top: 23px;
        font-size: 22px;
        line-height: 22.99px;
      }
      &:hover {
        color: #caa265;
      }
    }
    &__btn {
      width: 100%;
      max-width: 288px;
      min-height: 62px;
      margin-top: 40px;
      color: #43464a;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 60px;
      @include respond-to(sm) {
        width: 194px;
        min-height: 47px;
        font-size: 15px;
        line-height: 45px;
        margin-top: 25px;
      }
    }
    &__social {
      @include flex;
      max-width: 294px;
      margin-top: 50px;
      @include respond-to(sm) {
        max-width: 200px;
        margin-top: 20px;
        img {
          max-width: 21px;
        }
      }
      a {
        transition: .2s;
        &:hover {
          opacity: 0.7;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
  &-image {
    margin-right: -70px;
    @include respond-to(lg) {
      margin-right: -45px;
      img {
        max-width: 100%;
      }
    }
    @include respond-to(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 0 50px 0;
      text-align: center;
      img {
        max-width: 100%;
        margin-top: -40px;
      }
    }
    @include respond-to(sm) {
      margin: 0;
      img {
        max-width: calc(100% - 20px);
      }
    }
  }
}