.footer {
  margin-bottom: 100px;
  color: #363a3e;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  opacity: 0.64;
  @include respond-to(md) {
    margin-bottom: 40px;
    font-size: 10px;
    line-height: 14px;
  }
  a {
    display: inline-block;
    margin-top: 7px;
    border-bottom: 2px solid #939496;
    color: #363a3e;
    font-family: $FontAvenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    transition: .2s;
    @include respond-to(md) {
      font-size: 10px;
      line-height: 14px;
      border-bottom: 1px solid #939496;
    }
    &:hover {
      border-bottom-color: transparent;
    }
  }
}