.wrapper-header {
  background-color: #d9d5d0;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid #b7b7b7;
    transition: .2s;
  }
}
.header {
  @include flex;
  padding: 15px 0 20px;

  &-nav {
    @include flex;
    width: 100%;
    max-width: 790px;
    @include respond-to(sm) {
      flex-flow: column;
      .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 5;
        width: 22px;
        height: 22px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
      }
    }
    li {
      a {
        display: inline-block;
        padding: 7px 5px;
        border-bottom: 2px solid transparent;
        opacity: 0.69;
        color: #32363c;
        font-family: $FontAvenir;
        font-size: 18px;
        font-weight: 400;
        transition: .1s;
        &:hover {
          color: #caa265;
        }
        &:active,
        &.active {
          border-color: #31363b;
          font-family: $FontAvenirDemi;
          font-size: 22px;
          color: #35393e;
        }
      }
    }
  }
  &-column {
    text-align: center;
    @include respond-to(sm) {
      display: none;
    }
  }
  &-phone {
    display: block;
    margin-bottom: 14px;
    opacity: 0.97;
    color: #32363c;
    font-family: $FontAvenirDemi;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.14px;
    transition: .2s;
    &:hover {
      color: #caa265;
    }
  }
  .btn {
    width: 216px;
    min-height: 45px;
    font-family: $FontAvenir;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.17px;
  }
}