.wrapper-hero {
  position: relative;
  max-width: 1400px;
  margin: 0 auto 0;
  min-height: 770px;
  background-color: #d9d5d0;
  @include respond-to(lg) {
    min-height: 650px;
  }
  @include respond-to(md) {
    min-height: 500px;
    padding-bottom: 50px;
  }
  @include respond-to(sm) {
    min-height: 450px;
    padding-bottom: 10px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #d9d5d0;
    opacity: 0.4;
    background: url(/img/bg_block1.jpg) center 32% no-repeat;
    background-size: cover;
    @include respond-to(md) {
      background-attachment: scroll;
      background-size: cover;
      background-position: 85% 0;
    }
    @include respond-to(sm) {
      display: none;
    }
  }
  &__image {
    content: '';
    position: absolute;
    bottom: 0;
    left: 16%;
    z-index: 3;
    width: 100%;
    max-width: 455px;
    min-height: 761px;
    background: url(/img/roman.png) 0 100% no-repeat;
    @include respond-to(lg) {
      min-height: 600px;
      background-size: contain;
    }
    @include respond-to(md) {
      left: calc(27% - 150px);
      right: 0;
      width: 100%;
      max-width: 315px;
      min-height: 525px;
      background-size: 100%;
      background-position: 0 0;
    }
    @include respond-to(sm) {
      left: 0;
      right: 0;
      width: 100%;
      max-width: 290px;
      min-height: 345px;
      margin: 0 auto;
      background: url(/img/roman-sm.png) 0 0 no-repeat;
      background-size: 100%;
    }
  }
}
.hero {
  position: relative;
  z-index: 2;
  padding-top: 190px;
  text-align: right;
  @include respond-to(sm) {
    padding: 71px 0 40px;
  }
  &-content {
    min-height: 415px;
    margin-top: 1px;
    border: 2px solid #ffffff;
    border-top: 0;
    text-align: right;
    @include respond-to(md) {
      min-height: 360px;
      padding-top: 0;
    }
    @include respond-to(sm) {
      min-height: 355px;
    }
    h1 {
      width: 100%;
      font-family: $FontSylfaen;
      font-size: 70px;
      font-weight: 400;
      line-height: 57.36px;
      color: #2e3339;
      text-align: center;
      @include respond-to(lg) {
        font-size: 60px;
      }
      @include respond-to(md) {
        font-size: 45px;
      }
      @include respond-to(sm) {
        font-size: 36px;
        font-weight: 400;
        line-height: 29.22px;
      }
      span {
        float: left;
        display: inline-block;
        margin-top: -30px;
        padding: 0 7px 0 15px;
        @include respond-to(sm) {
          float: none;
          position: relative;
          top: -15px;
          margin-top: 0;
          padding: 0 7px 0 10px;
        }
      }
      &::before,
      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
      &::before {
        float: left;
        max-width: 645px;
        @include respond-to(lg) {
          max-width: 49%;
        }
        @include respond-to(md) {
          max-width: 50%;
        }
        @include respond-to(sm) {
          max-width: 8%;
        }
      }
      &::after {
        float: right;
        max-width: 61px;
        @include respond-to(md) {
          max-width: 8%;
        }
        @include respond-to(sm) {
          max-width: 8%;
        }
      }
    }
    &__text  {
      float: right;
      max-width: 410px;
      margin-right: 94px;
      text-align: left;
      @include respond-to(lg) {
        margin-right: 28px;
      }
      @include respond-to(md) {
        float: right;
        max-width: 300px;
        margin-right: 47px;
      }
      @include respond-to(sm) {
        float: none;
        max-width: 100%;
        margin-right: 0;
        text-align: center;
      }
      &::before {
        content: '';
        display: block;
        width: 72px;
        height: 2px;
        margin: 35px 0;
        background-color: #2e3339;
        @include respond-to(sm) {
          display: none;
        }
      }
    }
    &__description {
      color: #373a3f;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 35px;
      @include respond-to(sm) {
        position: relative;
        top: -5px;
        line-height: 0;
        padding-left: 5px;
        span {
          font-size: 17px;
          letter-spacing: 0.5px;
          text-transform: lowercase;
          &:last-of-type {
            display: none;
          }
        }
      }
    }
    &__link {
      max-width: 410px;
      opacity: 0.84;
      color: #32363c;
      font-family: $FontAvenirDemi;
      font-size: 22px;
      font-weight: 400;
      line-height: 35px;
      text-align: left;
      @include respond-to(sm) {
        display: none;
      }
      &::after {
        content: '';
        display: inline-block;
        margin: 37px 0 0 13px;
        border: 6px solid transparent;
        border-left: 11px solid #32363c;
      }
      &:hover {
        color: #caa265;
        transition: .2s;
        &::after {
          border-left-color: #caa265;
          transition: .2s;
        }
      }
    }
  }
 }
.btn-menu {
  display: none;
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 29px;
  height: 16px;
  margin: auto;
  span {
    display: block;
    height: 2px;
    margin-bottom: 4px;
    background-color: #31363b;
    opacity: 0.76;
  }
  &.sticky {
    position: fixed;
    top: 5px;
    left: 5px;
    right: auto;
    opacity: 0;
    z-index: 5;
    width: 40px;
    height: 30px;
    margin: 0;
    padding: 7px 5px;
    transition: .2s;
    background: rgba(249,249,249,0.80);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.12);
    span {
      width: 23px;
      height: 2px;
      margin: 3px auto 0;
      opacity: 0.5;
    }
  }
  @include respond-to(md) {
    display: block;
  }
}