.wrapper-offers {
  background-color: #ece9e5;
}

.offers {
  padding: 54px 0;
  @include respond-to(md) {
    padding: 27px 0;
  }
  &-title {
    max-width: 630px;
    padding: 0 15px;
    margin: 0 auto;
    color: #363a3e;
    font-family: $FontSylfaen;
    font-size: 45px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    @include respond-to(md) {
      font-size: 22px;
      line-height: 21.44px;
    }
    &::after {
      content: '';
      display: block;
      width: 71px;
      height: 2px;
      margin: 35px auto 50px;
      background-color: #3e3e3e;
      opacity: 0.76;
      @include respond-to(md) {
        width: 36px;
        margin: 15px auto 35px;
      }
    }
  }
  &-content {
    position: relative;
    max-width: 1138px;
    border: 2px solid #a78c6e;
    margin: 0 auto 100px;
    padding-top: 40px;
    text-align: center;
    @include respond-to(md) {
      padding: 30px 0 13px;
      margin-bottom: 0;
      &:nth-of-type(3) {
        border: none;
      }
    }
    &__title {
      position: absolute;
      top: -22px;
      left: 0;
      right: 0;
      display: inline-block;
      max-width: 610px;
      padding: 0 8px;
      margin: 0 auto;
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
      background-color: #ece9e5;
      @include respond-to(md) {
        max-width: 160px;
        font-size: 15px;
        line-height: 18.65px;
        text-align: center;
      }
    }
  }
  &-row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -17px -27px;
    @include respond-to(md) {
      margin: 0 -10px 0;
    }
  }
  &-item {
    position: relative;
    width: 100%;
    max-width: 377px;
    min-height: 848px;
    padding: 35px 10px 38px 20px;
    box-shadow: 0 4px 16px rgba(116, 102, 81, 0.35);
    background-color: #ffffff;
    text-align: left;
    @include respond-to(md) {
      min-height: inherit;
      margin-bottom: 8px;
      padding: 0;
      box-shadow: 0 4px 16px rgba(115, 102, 82, 0.35);
      &__list {
        display: none;
        padding: 0 20px 27px 10px;
      }
    }
    @include respond-to(lg) {
     max-width: 32%;
      min-height: 700px;
    }
    &__title {
      margin-bottom: 25px;
      padding-left: 25px;
      color: #363a3e;
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      @include respond-to(md) {
        position: relative;
        margin-bottom: 0;
        padding: 20px 20px 20px 35px;
        font-size: 15px;
        line-height: normal;
        &::after {
          content: '+';
          position: absolute;
          right: 20px;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          height: 27px;
          margin: auto;
          padding: 0 0 2px 0.5px;
          border: 1px solid #a58c70;
          border-radius: 50%;
          text-align: center;
          color: #a58c70;
          font-size: 23px;
          box-sizing: border-box;
        }
        &.active {
          &::after {
            content: '—';
            padding-bottom: 4px;
          }
        }
      }
    }
    ul {
      &::after {
        content: '+';
        display: block;
        width: 22px;
        height: 24px;
        margin: 10px auto 13px;
        font-size: 35px;
        line-height: 19px;
        font-weight: 600;
        color: #dcb476;
        @include respond-to(md) {
          margin: 12px auto 10px;
        }
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      li {
        margin-bottom: 15px;
        padding-left: 25px;
        @include respond-to(md) {
          margin-bottom: 10px;
        }
        span {
          position: relative;
          width: 100%;
          opacity: 0.84;
          color: #363a3e;
          font-size: 22px;
          line-height: 30px;
          text-align: left;
          @include respond-to(md) {
            font-size: 15px;
            line-height: 19px;
          }
          @include respond-to(lg) {
            font-size: 17px;
            line-height: 20px;
          }
          &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: -25px;
            display: block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: #dcb476;
            @include respond-to(md) {
              width: 5px;
              height: 5px;
            }
            @include respond-to(lg) {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
    &__btn {
      position: absolute;
      bottom: 38px;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 288px;
      min-height: 62px;
      margin: 0 auto;
      color: #43464a;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 60px;
      text-align: center;
      @include respond-to(md) {
        position: static;
        max-width: 161px;
        min-height: 41px;
        margin: 20px 0 0 25px;
        line-height: 39px;
        font-size: 15px;
      }
      @include respond-to(lg) {
        max-width: 230px;
        font-size: 20px;

      }
    }
    &--small {
      min-height: 481px;
      @include respond-to(md) {
        min-height: inherit;
      }
      @include respond-to(lg) {
        min-height: 450px;
      }
      .offers-item__title {
        min-height: 60px;
      }
    }
  }
  &-condition {
    max-width: 720px;
    margin: 0 auto;
    opacity: 0.64;
    color: #363a3e;
    font-family: $FontAvenir;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    @include respond-to(md) {
      max-width: 290px;
      font-size: 12px;
      line-height: 13.05px;
      text-align: left;
    }
  }
}