.order-wrapper {
  min-height: 761px;
  margin-bottom: 100px;
  padding: 60px 0 50px;
  background: url(/img/bg_block4.jpg) center no-repeat;
  background-size: cover;
  @include respond-to(md) {
    padding: 30px 0;
    min-height: inherit;
  }
  @include respond-to(lg) {
    margin-bottom: 50px;
  }
}
.order {
  min-height: 651px;
  padding-top: 39px;
  border: 3px solid #ffffff;
  @include respond-to(md) {
    position: relative;
    min-height: inherit;
    padding: 20px 0 60px 0;
  }
  &-advantages {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 50px;
    margin-bottom: 10px;
    @include respond-to(md) {
      padding: 0 0 0 23px;
      align-items: flex-start;
    }
    @include respond-to(lg) {
      align-items: flex-start;
    }
    &__item {
      flex-grow: 1;
      @include respond-to(md) {
        position: relative;
        max-width: 49%;
        min-height: 95px;
        margin-bottom: 20px;
        &:nth-of-type(3) {
          .text {
            display: none;
          }
          .text--mobile {
            display: block;
          }
        }
      }
      @include respond-to(lg) {
        max-width: 30%;
        margin-bottom: 50px;
        &:nth-of-type(3) {
          padding-left: 20px;
        }
      }
      &::after {
        content: '';
        display: block;
        width: 71px;
        height: 2px;
        margin-top: 13px;
        background-color: #fff;
        opacity: 0.76;
        @include respond-to(md) {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 26px;
          margin-top: 10px;
        }
      }
    }
    .number {
      color: #dbb574;
      font-family: $FontSylfaen;
      font-size: 100px;
      font-weight: 400;
      @include respond-to(md) {
        margin-bottom: 5px;
        font-size: 30px;
      }
      @include respond-to(lg) {
        font-size: 60px;
      }
      span {
        color: #dbb574;
        font-size: 50px;
        @include respond-to(md) {
          font-size: 17px;
        }
        @include respond-to(lg) {
          font-size: 30px;
        }
      }
    }
    .text {
      position: relative;
      top: -10px;
      color: #ffffff;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      @include respond-to(md) {
        top: -5px;
        max-width: 90%;
        font-size: 14px;
        line-height: 17px;
      }
      @include respond-to(lg) {
        font-size: 17px;
        max-width: 85%;
      }
    }
  }
  &-form {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 752px;
    min-height: 427px;
    margin: 0 auto;
    padding: 50px 15px;
    box-shadow: 0 5px 24px 8px rgba(156, 153, 149, 0.2);
    background-color: #ffffff;
    @include respond-to(md) {
      position: absolute;
      bottom: -85%;
      left: 0;
      right: 0;
      min-height: inherit;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 90%;
      padding: 20px 15px 15px;
      text-align: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 50%;
      padding-left: 40px;
      @include respond-to(md) {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
      }
      .title {
        width: 200px;
        margin-bottom: 17px;
        color: #363a3e;
        font-family: $FontSylfaen;
        font-size: 45px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        @include respond-to(md) {
          margin-bottom: 9px;
          font-size: 22px;
          line-height: 15.81px;
          text-align: center;
        }
      }
      .text {
        max-width: 200px;
        color: #373a3f;
        font-family: $FontAvenir;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        @include respond-to(md) {
          max-width: 175px;
          font-size: 15px;
          line-height: 17px;
          text-align: center;
        }
        &::after {
          content: '';
          display: block;
          width: 71px;
          height: 2px;
          margin-top: 30px;
          background-color: #363a3e;
          opacity: 0.76;
          @include respond-to(md) {
            width: 25px;
            margin: 17px auto 0;
          }
        }
      }
    }
  }
}