.reviews-wrapper {
  padding-top: 80px;
}
.reviews {
  max-width: 1135px;
  min-height: 757px;
  margin: 60px 0 66px;
  padding: 60px 0 20px;
  border: 2px solid #a78c6e;
  @include respond-to(lg) {
    min-height: inherit;
  }
  @include respond-to(md) {
    min-height: inherit;
  }
  @include respond-to(sm) {
    min-height: auto;
    margin: 0;
    padding-bottom: 0;
    border: none;
  }
  &-title {
    max-width: 610px;
    margin: -80px auto 0;
    color: #363a3e;
    font-family: $FontSylfaen;
    font-size: 45px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    background-color: #ffffff;
    @include respond-to(sm) {
      max-width: 220px;
      font-size: 22px;
      line-height: 22px;
    }
  }
  &-tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    margin: 40px auto 45px;
    @include respond-to(sm) {
      max-width: 280px;
      margin: 17px auto;
    }
    &__button {
      padding: 0 0 3px;
      opacity: 0.66;
      color: #484a4d;
      font-family: $FontAvenir;
      font-size: 18px;
      font-weight: 400;
      border: none;
      outline: none;
      background: none;
      border-bottom: 2px solid #fff;
      transition: .2s;
      cursor: pointer;
      @include respond-to(sm) {
        font-size: 12px;
      }
      &:hover {
        opacity: 0.3;
      }
      &.active {
        opacity: 1;
        color: #4a4d51;
        font-family: $FontAvenirDemi;
        border-bottom-color: #3e3e3e;
        pointer-events: none;
      }
    }
    &__content {
      position: relative;
      visibility: hidden;
      height: 0;
      transition: .2s;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        left: -24px;
        width: 89px;
        height: 71px;
        background: url(/img/icons/quotes2.png) center no-repeat;
        @include respond-to(md) {
          top: 290px;
          left: 15%;
          width: 25px;
          height: 20px;
          background-size: cover;
        }
        @include respond-to(sm) {
          top: 170px;
          left: 10px;
          width: 25px;
          height: 20px;
          background-size: cover;
        }
      }
      &.active {
        height: auto;
        visibility: visible;
      }
    }
  }
  &-quotes {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
  }
  &-slider {
    position: relative;
    z-index: 2;
    right: -25px;
    @include respond-to(md) {
      left: 0;
      right: auto;
      padding: 20px 10px 0 20px;
      .slick-prev,
      .slick-next {
        width: 17px;
        height: 46px;
        z-index: 3;
        &::before {
          background-size: cover;
        }
      }
      .slick-prev {
        top: 115px;
        left: 30%;
      }
      .slick-next {
        top: 120px;
        right: 30%;
      }
      .slick-dots {
        bottom: 0;
        left: 0;
      }
    }
    @include respond-to(sm) {
      .slick-prev {
        top: 70px;
        left: 19%;
      }
      .slick-next {
        top: 78px;
        right: 16%;
      }
      .slick-dots {
        bottom: 10px;
        left: 0;
      }
      border: 2px solid #a78c6e;
    }
    &__item {
      padding-left: 20px;
      outline: none!important;
      @include respond-to(md) {
        padding-left: 0;
      }
    }
    &__wrapper {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 10px;
      @include respond-to(md) {
        flex-direction: column;
        padding-top: 0;
      }

    }
    &__text {
      max-width: 705px;
      margin-top: -10px;
      @include respond-to(lg) {
        max-width: 80%;
        margin: 0 auto;
      }
      @include respond-to(md) {
        max-width: 70%;
        margin: auto;
      }
      @include respond-to(sm) {
        max-width: 100%;
        margin-top: 0;
      }
    }
    &__title {
      margin-bottom: 15px;
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      @include respond-to(lg) {
        font-size: 27px;
        line-height: 35px;
      }
      @include respond-to(md) {
        font-size: 20px;
        line-height: 25px;
        &::after {
          content: '';
          display: block;
          width: 46px;
          height: 2px;
          margin: 17px auto;
          background-color: #3e3e3e;
          opacity: 0.76;
        }
      }
      @include respond-to(sm) {
        font-size: 15px;
        line-height: 17px;
      }
    }
    &__event {
      opacity: 0.72;
      color: #373a3f;
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
      @include respond-to(md) {
        font-size: 17px;
        line-height: 18px;
      }
      @include respond-to(sm) {
        font-size: 12px;
        line-height: 18px;
      }
      &::after {
        content: '';
        display: block;
        width: 71px;
        height: 2px;
        margin: 31px 0 0;
        background-color: #3e3e3e;
        opacity: 0.76;
        @include respond-to(md) {
          display: none;
        }
      }
    }
    &__description {
      margin-top: 33px;
      padding-bottom: 30px;
      opacity: 0.72;
      color: #373a3f;
      font-size: 18px;
      line-height: 28px;
      @include respond-to(md) {
        margin-top: 15px;
        padding-bottom: 30px;
        font-size: 17px;
        line-height: 27px;
      }
      @include respond-to(sm) {
        font-size: 12px;
        line-height: 18px;
      }
      & > span:first-of-type {
        font-family: $FontAvenirDemi;
        font-weight: 600;
      }
      .morelink {
        display: block;
        margin: 15px 0;
        text-align: center;
        outline: none;
        color: #373a3f!important;
        span {
          display: inline-block!important;
          border-bottom: 2px solid #3e3e3e!important;
          font-family: $FontAvenir;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          color: #373a3f;
          transition: .2s;
          &:hover {
            border-bottom: none;
          }
        }
        &.less {
          color: #3e3e3e;
          text-decoration: none;
          span {
            border-bottom: 2px solid #3e3e3e!important;
          }
        }
      }
    }
    &__image {
      @include respond-to(lg) {
        order: -1;
        margin: 0 auto 25px;
        text-align: center;
      }
      @include respond-to(md) {
        order: -1;
        margin: 0 auto 25px;
        text-align: center;
      }
      img {
        box-shadow: -5px 6px 38px -10px rgba(156, 153, 149, 0.9);
        @include respond-to(lg) {
          width: 150px;
          height: 150px;
          margin: 0 auto 14px;
          border-radius: 50%;
          object-fit: cover;
        }
        @include respond-to(md) {
          width: 180px;
          height: 180px;
          margin: 0 auto 14px;
          border-radius: 50%;
          object-fit: cover;
        }
        @include respond-to(sm) {
          width: 100px;
          height: 100px;
          margin: 0 auto 14px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    &__link {
      margin-top: 20px;
      padding-right: 30px;
      text-align: center;
      @include respond-to(lg) {
        padding-right: 0;
        margin: 0 auto;
      }
      @include respond-to(md) {
        margin-bottom: 20px;
        padding-right: 0;
      }
      @include respond-to(sm) {
        padding-right: 0;
        margin: 0 auto;
      }
      a {
        display: inline-block;
        border-bottom: 2px solid #939496;
        color: #373a3f;
        font-family: $FontAvenir;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.55;
        transition: .2s;
        @include respond-to(lg) {
          font-size: 15px;
          line-height: 20px;
        }
        @include respond-to(sm) {
          font-size: 12px;
          line-height: 18px;
        }
        &:hover {
          border-bottom-color: #fff;
        }
      }
    }
  }
}

