.steps {
  padding: 70px 0;
  @include respond-to(sm) {
    padding: 30px 0;
  }
  &-title {
    margin-bottom: 18px;
    text-align: center;
    color: #363a3e;
    font-family: $FontSylfaen;
    font-size: 45px;
    font-weight: 400;
    @include respond-to(sm) {
      margin-bottom: 0;
      font-size: 22px;
      line-height: 24.36px;
    }
  }
  &-description {
    color: #363a3e;
    text-align: center;
    font-family: $FontAvenir;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    @include respond-to(sm) {
      font-size: 15px;
      line-height: 21.18px;
    }
    &::after {
      content: '';
      display: block;
      width: 71px;
      height: 2px;
      margin: 30px auto 20px;
      background-color: #3e3e3e;
      opacity: 0.76;
      @include respond-to(sm) {
        width: 41px;
        margin-top: 16px;
      }
    }
  }
  &-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1082px;
    min-height: 603px;
    margin: 60px auto 0;
    border: 2px solid #a78c6e;
    @include respond-to(lg) {
      min-height: 430px;
    }
    @include respond-to(md) {
      display: block;
      margin: 27px auto 100px;
      min-height: 746px;
      border: none;
    }
    @include respond-to(sm) {
      margin: 15px auto 0;
      min-height: 420px;
    }
    &__image {
      position: relative;
      left: -40px;
      @include respond-to(lg) {
        max-width: 58%;
        img {
          max-width: 100%;
        }
      }
      @include respond-to(md) {
        left: 0;
        width: 100%;
        img {
          width: 100%;
        }
      }
      @include respond-to(sm) {
        width: calc(100% + 30px);
        left: 0;
        margin: 0 -15px;
        img {
          max-width: 100%;
        }
      }
    }
    &__text {
      width: 100%;
      max-width: 340px;
      padding-right: 25px;
      box-sizing: border-box;
      @include respond-to(md) {
        max-width: 100%;
        margin-top: 90px;
        padding: 0 20px 25px;
        border: 2px solid #a78c6e;
      }
      @include respond-to(sm) {
        position: relative;
        left: -4.5px;
        max-width: 103%;
        width: 103%;
        min-height: 123px;
        margin: 70px auto 0;
        padding: 0 3px 5px;
        border: 2px solid #a78c6e;
      }
    }
    &__number {
      opacity: 0.32;
      color: #dbb574;
      font-family: $FontSylfaen;
      font-size: 150px;
      font-weight: 400;
      line-height: 50px;
      @include respond-to(md) {
        position: relative;
        top: -35px;
        z-index: 3;
        font-size: 100px;
        line-height: 40px;
        text-align: center;
        opacity: 0.2;
      }
      @include respond-to(sm) {
        font-size: 79px;
        line-height: 26.48px;
      }
    }
    &__title {
      position: relative;
      z-index: 2;
      margin: -45px 0 20px;
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 45px;
      font-weight: 400;
      line-height: 45px;
      @include respond-to(md) {
        max-width: 250px;
        margin: -75px auto 0;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        background: #fff;
      }
      @include respond-to(sm) {
        max-width: 175px;
        margin: -60px auto 0;
        font-size: 22px;
        line-height: 25px;
      }
      div:last-child {
        position: relative;
        right: -65px;
        @include respond-to(md) {
          right: auto;
        }
        span {
          padding: 5px 0;
          background-color: #fff;
        }
      }
    }
    &__description {
      max-width: 310px;
      opacity: 0.72;
      color: #373a3f;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
      @include respond-to(md) {
        max-width: 500px;
        margin: 20px auto;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
      }
      @include respond-to(sm) {
        margin: 10px auto 0;
        font-size: 15px;
        line-height: 18.01px;
      }
    }
    &--left {
      position: relative;
      .steps-item__image {
        left: auto;
        right: -40px;
        &--mob {
          display: none;
        }
        @include respond-to(md) {
          right: auto;
          display: none;
          &--mob {
            display: block;
          }
        }
      }
      .steps-item__text {
        max-width: 360px;
        padding-right: 0;
        padding-left: 40px;
        @include respond-to(md) {
          left: 0;
          max-width: 100%;
          padding: 0 20px 5px;
          margin-bottom: 5px;
        }
        @include respond-to(sm) {
          position: relative;
          left: -4.5px;
          max-width: 103%;
          padding: 0 3px 5px;
        }
      }
      .steps-item__title {
        left: -63px;
        @include respond-to(md) {
          left: auto;
        }
        div {
          &:first-child {
            span {
              padding: 10px 0 5px;
              background-color: #fff;
              @include respond-to(md) {
                padding: 0;
              }
            }
          }
          &:last-child {
            right: -80px;
            @include respond-to(md) {
              right: auto;
            }
          }
        }
      }
    }
    &:nth-of-type(3) {
      .steps-item__title {
        div:last-child {
          position: relative;
          right: -48px;
          @include respond-to(md) {
            right: auto;
          }
        }
      }
    }
  }
  &-footer {
    &__title {
      max-width: 630px;
      margin: 37px auto;
      color: #373a3f;
      font-family: $FontSylfaen;
      font-size: 45px;
      font-weight: 400;
      line-height: 48px;
      text-align: center;
      @include respond-to(sm) {
        margin: 17px 0;
        font-size: 22px;
        line-height: 25.42px;
      }
    }
    &__btn {
      width: 100%;
      max-width: 288px;
      min-height: 62px;
      margin: 0 auto;
      text-align: center;
      color: #43464a;
      font-size: 22px;
      line-height: 60px;
      font-weight: 400;
      @include respond-to(sm) {
        width: 194px;
        min-height: 47px;
        font-size: 15px;
        line-height: 45px;
      }
    }
  }
}