.team {
  padding: 90px 0;
  @include respond-to(md) {
    padding: 290px 0 50px;
  }
  @include respond-to(sm) {
    padding: 255px 0 0;
  }
  &-title {
    margin-bottom: 26px;
    color: #363a3e;
    font-family: $FontSylfaen;
    font-size: 45px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    @include respond-to(sm) {
      margin-bottom: 12px;
      font-size: 22px;
      line-height: 28.59px;
    }
  }
  &-description {
    opacity: 0.84;
    color: #363a3e;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    @include respond-to(sm) {
      font-size: 15px;
      line-height: 24px;
    }
    &::after {
      content: '';
      display: block;
      width: 71px;
      height: 2px;
      margin: 40px auto 0;
      background-color: #3e3e3e;
      opacity: 0.76;
      @include respond-to(sm) {
        width: 47px;
        margin-top: 20px;
      }
    }
  }
  &-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 180px -28px 0;
    @include respond-to(md) {
      display: block;
      margin: 150px -15px 0;
      text-align: center;
    }
    @include respond-to(sm) {
      margin: 21px 0 10px;
    }
  }
  &-item {
    width: 100%;
    max-width: 372px;
    min-height: 533px;
    margin: 0 14px 73px;
    border: 2px solid #a78c6e;
    text-align: center;
    @include respond-to(md) {
      display: inline-block;
      vertical-align: top;
      max-width: 350px;
      &:last-of-type {
        margin-top: 100px;
      }
    }
    @include respond-to(sm) {
      max-width: 100%;
      margin:  0 0 12px;
      padding: 15px 0;
      min-height: inherit;
      &:last-of-type {
        margin-top: 0;
      }
      &__wrapper {
        max-width: 77%;
        margin: 0 auto;
        text-align: right;
      }
      &__info {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        margin-left: 13px;
        @include respond-to(sm) {
          position: relative;
          padding-bottom: 15px;
        }
      }
    }
    @include respond-to(lg) {
      max-width: 30%;
    }
    img {
      margin-top: calc(-50% + 55px);
      @include respond-to(sm) {
        display: inline-block;
        vertical-align: middle;
        width: 93px;
        height: 93px;
        margin-top: 0;
      }
    }
    &__name {
      margin-top: 28px;
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      @include respond-to(sm) {
        margin: 0 0 0 -1px;
        font-size: 20px;
        line-height: 24.86px;
        text-align: left;
      }
      &::after {
        content: '';
        display: block;
        width: 71px;
        height: 2px;
        margin: 16px auto 18px;
        background-color: #3e3e3e;
        @include respond-to(sm) {
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 44px;
          margin: 0;
        }
      }
    }
    &__position {
      opacity: 0.71;
      color: #363a3e;
      font-size: 22px;
      font-weight: 400;
      line-height: 40px;
      @include respond-to(sm) {
        font-size: 14px;
        line-height: 13px;
        text-align: left;
      }
    }
    &__description {
      margin-top: 40px;
      padding: 0 15px;
      @include respond-to(sm) {
        width: 100%;
        margin: 17px auto 0;
      }
      @include respond-to(lg) {
        margin-top: 15px;
        padding-bottom: 20px;
      }
      p {
        margin: 0 0 10px;
        font-size: 22px;
        font-weight: 400;
        color: #363a3e;
        @include respond-to(sm) {
          font-size: 15px;
          line-height: 20px;
        }
        @include respond-to(lg) {
          font-size: 19px;
          line-height: 23px;
        }
        span {
          font-family: $FontAvenirDemi;
          font-weight: 600;
          line-height: 30px;
          @include respond-to(sm) {
            line-height: 20px;
          }
        }
      }
    }
  }
  &-footer {
    max-width: 920px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    &__title {
      margin-bottom: 28px;
      color: #363a3e;
      font-family: $FontSylfaen;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      @include respond-to(sm) {
        font-size: 17px;
        line-height: 22px;
      }
    }
    p {
      opacity: 0.7;
      color: #363a3e;
      font-family: $FontAvenir;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      @include respond-to(sm) {
        display: none;
      }
      span {
        display: block;
        margin-top: 20px;
        color: #363a3e;
        font-family: $FontAvenir;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
}
