body {
  font-family: $FontAvenir;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  pointer-events: none;
  user-select: none;
}

.wrapper-top {
  background-color: #d9d5d0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @include respond-to(lg) {
    max-width: 930px;
  }
  @include respond-to(md) {
    max-width: 760px;
  }
  @include respond-to(sm) {
    max-width: 400px;
  }
}

h2 {
  color: #363a3e;
  font-family: $FontSylfaen;
  font-size: 45px;
  font-weight: 400;
  line-height: 47px;
}

.clearfix {
  clear: both;
}

.scroll-top {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 5;
  width: 40px;
  height: 30px;
  padding: 0;
  border: none;
  background: rgba(249,249,249,0.8);
  box-shadow: 0 0 7px 1px rgba(0,0,0,0.12);
  opacity: 0;
  text-align: center;
  outline: none;
  transition: .3s;
  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 25px;
    opacity: 0.5;
    background: url(/img/icons/top.svg) center no-repeat;
  }
  &.active {
    opacity: 1;
  }
}
body .cbk-phone {
  left: auto!important;
  right: 3% !important;
  width: 80px!important;
  height: 80px!important;
  transition: .3s;
  @include respond-to(md) {
    right: 2px!important;
    bottom: 2px!important;
  }
  &:hover {
    width: 70px!important;
    height: 70px!important;
    transition: .3s;
    .cbk-phone-bgr {
      opacity: 0.6;
    }
    .ws-icon-phone {
      font-size: 40px;
      transition: .3s;
    }
    .cbk-phone-phone {
      margin: 13px;
      transition: .3s;
    }
  }

}
body .cbk-phone .cbk-phone-phone {
  margin: 17px;
}
body .cbk-phone .cbk-phone-bgr {
  opacity: 0.5;
  background-color: #d7a962!important;
}
body .cbk-phone .cbk-phone-phone .ws-icon-phone {
  font-size: 47px;
}

