body {
  font-family: $FontAvenir;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
