body {
  font-family: $FontAvenir;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  pointer-events: none;
  user-select: none;
}

.wrapper-top {
  background-color: #d9d5d0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @include respond-to(md) {
   max-width: 400px;
  }
  @include respond-to(md) {
    max-width: 600px;
  }
  @include respond-to(lg) {
   max-width: 930px;
  }
}


h2 {
  color: #363a3e;
  font-family: $FontSylfaen;
  font-size: 45px;
  font-weight: 400;
  line-height: 47px;
}

.clearfix {
  clear: both;
}